@model LearnerProject.Models.Entities.FAQ
@{
    ViewBag.Title = "AddFAQ";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h4>Yeni Soru Ekleme Sayfası</h4>
<br />
<form method="post">
    @Html.TextBoxFor(x => x.Question, new { @class = "form-control mb-3", @placeholder = "Soru" })

    @Html.TextBoxFor(x => x.Answer, new { @class = "form-control mb-3", @placeholder = "Cevap" })

    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control mb-3", @placeholder = "Resim Url" })

    <label>Aktif</label>
    @Html.RadioButtonFor(x => x.Status, "True", new { @class = "mb-3" })
    <label>Pasif</label>
    @Html.RadioButtonFor(x => x.Status, "False", new { @class = "mb-3" })
    <br />
    <button class="btn btn-outline-success"><i class="fas fa-save"> Kaydet</i></button>
</form>